.form {
  width: 736px;
  height: 54px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.input {
  height: 100%;
  width: 100%;
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  padding: 16px;
  caret-color: var(--gray-100);
  box-shadow: 0 3px 5px 1px var(--shadow);
}

.input::placeholder {
  color: var(--gray-300);
}

.input::-moz-focus-inner {
  color: var(--purple-dark)
}

.submitButton {
  height: 100%;
  min-width: 90px;
  background: var(--blue-dark);
  border: none;
  border-radius: 8px;
  color: var(--gray-100);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  box-shadow: 0 3px 5px 1px var(--shadow);
}

.submitButton svg {
  color: var(--gray-100);
}

.submitButton:hover {
  background: var(--blue);
  cursor: pointer;
}